@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

:root {
	--light-blue: #e4f3ff;
	--light-green: #ccffce;
	--dark-grey: #393837;
	--dark-blue: #22699d;
	--highlight: #ee5940;
}
