@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

:root {
	--light-blue: #c7dff3;
	--light-green: #ccffce;
	--dark-grey: #393837;
	--dark-blue: #22699d;
	--highlight: #ee5940;
	--text: #000000;
	--bg: #ffffff;
	--text-on-bg: #ffffff;
	--bg-dark: #000000;
	--data: var(--dark-blue);
	--tech: #a9e5ab;
	--design: var(--highlight);
	--social-science: #f2cb58;
}

body {
	font-family: var(--font-mukta);
	color: var(--text);
	background-color: var(--bg);
	font-size: 1.125rem;
}
