@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

:root {
	--light-blue: #c7dff3;
	--light-green: rgb(204, 255, 206);
	--dark-grey: #393837;
	--dark-blue: #22699d;
	--highlight: rgb(238, 89, 64);
	--text: #000000;
	--bg: #ffffff;
	--text-on-bg: #ffffff;
	--bg-dark: #000000;
}

body {
	font-family: var(--font-mukta);
	color: var(--text);
	background-color: var(--bg);
}
